body
{
    background-color: slategray;
    background-image: url("assets/img/header.jpg");
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}



.avatar 
{

    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px black;
    border-radius: 50%;
    float: left;
}

.countryFlag
{
    width: 35px;
}

.profileBar
{
    background-color: rgb(31, 34, 36);
    width: 25%;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.bannerimage
{
    background-image:url("../img/header.jpg");
    background-repeat: no-repeat ;
    height: 500px;
    vertical-align: middle;
    width: 100%;
    background-size: cover;
    position: relative;
    
}

.recentListRow
{
height: 40px;
width: 80%;
margin: 20px;
padding: 20px;
}

.recentListElement
{
    padding: 25px;
    min-width: 140px;
    height: 20px;
}

.containerTopArtist
{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.flex-item 
{
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 20;
    text-align: center;
  }

 .top-tracks-title 
 {
    text-align: center;
    color: white;
 }

 .barchart
 {
     background-color: blue;
     max-width: 500px;
 }